.inner
  = form_tag login_path, class: 'form', id: "login-form" do
    %h2 Log into a private app
    = text_field_tag 'email', params[:email], placeholder: "E-mail", autofocus: true
    = password_field_tag 'password', nil, placeholder: "Password"
    <button class="btn" type="submit">Log in</button>