%h1 Hello, #{@user.email}
%div{ style:"border-top: 1px solid #2c2c2c"}
  %p
    You have successfully activated your TestDev account
    %br
    your username is: #{@user.email}.
  %p To login to the site, just follow this link: #{@url}.
  %p Thanks for joining and have a great day!
