.results-box
  %h3= "#{@country.name} target groups:"
  - if @target_groups.any?
    - @target_groups.each do |tg|
      %span{ style: tg.panel_provider == @country.panel_provider ? "font-weight: 700;" : "color: #999;"  }= "#{tg.name} - #{tg.panel_provider.code}:"
      - tg.descendants.all_with_proper_provider(@country.panel_provider_id).arrange_as_array.each do |t|
        %span= "#{'-'*t.depth} #{t.name} - provider: #{t.panel_provider.code}"
  - else
    No root target groups with proper panel provider, lower records won't be displayed