= form_tag evaluate_target_path, class: 'form', id: "login-form", remote: true do
  %h3 Log into a private app
  = select_tag(:country_code, options_for_select(@countries.countries_list))
  = select_tag(:target_group_id, options_for_select(TargetGroup.targets_list))
  .label-box
    - @all_locations.each do |l|
      %label
        %span= l.name
        = check_box_tag(:"location_ids[]", l.id)

  <button class="btn" type="submit">Evaluate</button>
  