.inner
  = form_for @user, url: registrations_path, html: { class: 'form', id: "login-form" } do |f|
    %h2 Register
    = f.text_field :email, placeholder: "E-mail", autofocus: true
    - if @user.errors[:email].any?
      .error-msg= @user.errors[:email]
    = f.password_field :password, placeholder: "Password"
    - if @user.errors[:password].any?
      .error-msg= @user.errors[:password]
    = f.password_field :password_confirmation, placeholder: "Confirm password"
    - if @user.errors[:password_confirmation].any?
      .error-msg= @user.errors[:password_confirmation]
    <button class="btn" type="submit">Register</button>