/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require normalize
 *= require_self
 * require rwd
 */

 // @import "bootstrap";

abbr[title] { text-decoration: none; }

html { font-size: 14px; font-size: 62.5%; line-height: 1.5; }
body { position: relative; font-family: sans-serif; margin: 0; padding: 0; overflow-x: hidden; }

* { box-sizing: border-box; }
header { padding: 20px 0; .btn { margin: 0 5px; } }
section { max-width: 100vw; }
// section.full-width { width: 100vw; }
a { text-decoration: none; color: #383340; &:hover { color: #A29CAB; } }
strong, .strong { font-weight: 700; }
//input[type=submit] { cursor: pointer; }
.pull-right { float: right; }
.clear-fix { clear: both; }

h2 { font-family: serif; font-size: 33px; font-size: 3.3rem; font-weight: 400; padding: 30px 0 25px 0; margin: 0 auto; }
h3 { font-family: serif; font-size: 24px; font-size: 2.4rem; font-weight: 400; text-align: left; color: #383340; margin: 20px auto; }


.inner { position: relative; max-width: 1200px; width: 100%; margin: auto; overflow: hidden; }

/*** flash ***/

.flash {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px 65px;
  text-align: center;
  margin: auto;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &.flash-error, &.flash-alert { color: #fff; background-color: #ff7c7a; border-color: #ff7c7a; font-weight: 400; }
  &.flash-success { color: #000; background-color: #cee36b; border-color: #cee36b; }
  &.flash-notice { color: #000; background-color: #ffd879; border-color: #ffd879; }

  .close-flash {
    position: relative;
    width: 41px;
    height: 41px;
    right: -25px;
    color: #fff;
    float: right;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: image_url('flash-close.png');
  }

  .message {
    min-height: 41px;
    a { color: inherit; text-decoration: underline; &:hover { opacity: 0.6; filter: alpha(opacity=60); } }
  }

}

/*** buttons ***/
.btn {
  display: inline-block;
  width: 160px;
  height: 44px;
  border: none;
  font-size: 14rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
  padding: 11px 10px;
  margin: auto;
  text-decoration: none;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  border: 1px solid #383340;
  background-color: #383340;
  color: #fff;
  &:hover { background-color: #A29CAB; color: #383340; }
  &.btn-big { width: 200px; height: 66px; display: inline-block; margin: 5px 15px; }
}

/*** forms **/

.form {
  width: 90%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  input, select { padding: 5px; height: 40px; width: 80%; display: block; margin: 5px auto; font-size: 14rem; font-size: 1.4rem; }
  button { display: block; }
  .label-box { height: 150px; overflow: scroll; }
  label { 
    display: block;
    font-size: 14rem;
    font-size: 1.4rem;
    input { display: inline-block; font-weight: 700; width: 50px; height: auto; } 
  }
}
.field_with_errors input { border: 1px solid red; color: red; }
.error-msg { position: relative; height: 0; color: red; text-align: right; top: -22px; width: 78%; margin: auto; }

/*** pages ***/
.boxes {
  text-align: center;
  h3 { text-align: center; height: 70px; }
  .locations, .targets, .evaluate-target { width: 30%; display: inline-block; vertical-align: top; border: 1px solid #d2d2d2; margin: 0 5px; }
  .btn { display: block; margin: 10px auto; }
}
.results-box {
  padding-bottom: 30px;
  width: 60%;
  span { font-size: 14rem; font-size: 1.4rem; display: block; }
  &.big { font-size: 30px; font-size: 3rem; text-align: center; }
} 

// panel variartion
body.panel {
  background-color: #DBD9DD;
}

