.results-box
  %h3= "#{@country.name} locations:"
  - if @location_groups.any?
    - @location_groups.each do |lg|
      %span.strong= "#{lg.name} - #{lg.panel_provider.code}:"
      - lg.locations.each do |l|
        %span= l.name
  - else
    No location gropus with proper panel provider were found