var f = "<div class='flash flash-alert' role='alert'><button type='button' class='close-flash'><span>×</span></button><div class='message'>Sorry, something went wrong.</div></div>";
$('.results-box').replaceWith("<div class='results-box'>"+f+"</div>");
flash_closing();


    