.inner
  .boxes
    .locations
      %h3 Locations by country code
      = render 'locations/countries_list', l: 'locations'
    .targets
      %h3 Target groups by country code
      = render 'locations/countries_list', l: 'target_groups'
    - if current_user && @panel
      .evaluate-target
        = render 'panel/locations/evaluate_target'
    
  .results-box