%header
  .inner
    - if current_user
      = link_to 'Log out', logout_path, class: 'btn pull-right'
      = link_to 'Panel', panel_path, class: 'btn pull-right'
    - else
      = link_to 'Log in', login_path, class: 'btn pull-right' if controller_name != 'sessions'
      = link_to 'Register', new_registration_path, class: 'btn pull-right'
    = link_to 'Main page', root_path, class: 'btn pull-right'
    .clear-fix