!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ :charset => "utf-8" }/
    %title Test-dev
    %meta{ :content => "Test-dev", :name => "description" }/
    %meta{ :content => "width=device-width,initial-scale=1.0", :name => "viewport" }/
    /[if lt IE 9]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  %body{ class: @panel ? @panel : nil }
    = render 'layouts/header'
    - if flash.any?
      = render 'layouts/flash'
    = yield
